
<!-- https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars)-->
<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 Group 103 Project: DBServicesDB</title>
</head>
<body>
    <nav> 
        <a href="/">Index</a> 
        <a href="/employees-nav">Employees</a> 
        <a href="/assignments-has-employees-nav">Assignments Has Employees</a> 
        <a href="/assignments-nav">Assignments</a> 
        <a href="/orders-nav">Orders</a> 
        <a href="/customers-has-orders-nav">Customers Has Orders</a>
        <a href="/customers-nav">Customers</a>
    </nav>

    {{{body}}}

</body>
</html>